@charset "utf-8";
body{
font: 16px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}
a{
    color:blue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:visited{
    color:blue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover {
    color: #F5A862;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
header{
    display: block;
    width:60%;
    margin-left: 15%;
    overflow: hidden;
}
header h1{
    font-size:150%;
    color:#313131;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #313131;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight:400;
    float: left;
}
article{
    display: block;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 20px;
    overflow: hidden;
}
section{
    width: 70%;
    padding: 2.5%;
    margin: 1.5%;
    background-color: #f9f9f9;
    overflow: hidden;
    float: left;
}
section h1{
    width: 100%;
    font-size: 120%;
    letter-spacing: 3px;
    padding-bottom:2px;
    padding-top: 10px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 15px;
    float: left;
}
/*name{
margin:50px 150px;
padding:5;
font-weight:bold;
}*/